<a href="https://colab.research.google.com/github/coding-dojo-data-science/python-basics-notebooks/blob/main/Primitive_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Primitive Data Types


## In this notebook you will explore:
- Operators
- Integers (Also known as ints)
- Floats
- Strings 
- Bools
- None

## Operators

Operands are special ways to interact with types and their function changes depending on the types used.  For instance

5 + 3 == 8

#Note:
"=" assigns an object to a variable
"==" as the question, are these equal to each other?  

'Hello' + 'World' == 'HelloWorld'

## Binary Operators (two arguments):
- plus (+): 5 + 2
- minus (-): 5 - 2
- times (*): 5 * 2
- divide (/): 5 / 2
- modulo (&): 5 % 2

## Boolean Operators (returns a bool, `True` or `False`)
- is equal to (==): 5 == 5
- is not equal to (!=): 5 != 2
- is greater than (>): 5 > 2
- is greater than or equal to (>=): 5 >= 2 
- is less than (<): 2 < 5
- is less than or equal to (<=): 2 <= 5 

## Unary Operators (one argument)

- negation (-): -5

# Ints

Integers are whole numbers.  You can use the function `int()` to convert another type into an integer.

The function `type()` can be used to return the type of an object.

In [ ]:
# Run this code to see how a string can become an integer

a = int('5')

print(a)
print(type(a))

5
<class 'int'>

In [ ]:
# Run this code to change a float to an int and notice how the number changes.

b = 5.7

c = int(b)

print(c)
print(type(c))

5
<class 'int'>

When a float is changed, or 'recast' into an integer, the numbers after the decimal are simply dropped.

## Operators and Integers

In [ ]:
# In this cell test out +, -, /, *, and % to see how Python evaluates each expression

# <Your code here>

# Floats

Floats are similar to ints, but have decimal points.  In most cases they can be used like integers, but they take more computer memory to store because the computer must store the location of the decimal as well as the digits.

In [ ]:
# Run this cell to recast an integer to a float

a = 5

b = float(5)

print(b)
print(type(b))

5.0
<class 'float'>

In [ ]:
# Run this cell to recast a string as a float

c = '5'

d = float(c)

print(d)
print(type(d))

5.0
<class 'float'>

## Operators and Floats

In [ ]:
# Try using +, -, /, *, and % with floats to see how Python evaluates each expression.

# <your code here>

# Strings

Strings are text.  You can use single or double quotes to create a string, as long as you use the same at both the beginning and the end.

You can recast other types into a string using the function `str()`

In [ ]:
# Run this cell to create the string, 'Hello World'

a = 'Hello World'
print(a)

Hello World

In [ ]:
# Run this cell to recast an float as a string

a = 5.2

b = str(a)

print(b)
print(type(b))

5.2
<class 'str'>

## New Line

One special command inside of a string is `\n`.  This creates a new line

In [ ]:
a = 'Hello\nWorld'

print(a)

Hello
World

## F-strings

An f-string allows you insert variables into your strings.  This becomes very useful later when you start using loops and creating custom functions.

In [ ]:
# At Joziah's Grocery bananas cost $.95

number_of_bananas = 5
cost_of_bananas = .95

total = number_of_bananas * cost_of_bananas

c = f'I bought {number_of_bananas} bananas for ${total} and Joziahs Grocery'

print(c)

I bought 5 bananas for $4.75 and Joziahs Grocery

In [ ]:
# Try creating a 2 new variables that can be changed and embed them in an f-string

#<your code here>

Try changing the number of bananas or the cost of bananas to see how Python evaluates the f-string differently.

## `'` or `"`?

One last trick to strings is how to put quotation marks or apostrophes in your strings.  If you start a string with `'` and end with `'`, then you can have `"` in the middle.  If you start a string with `"` and end the string with `"` you can have `'` in the middle.  If you want to use both, you'll have to use an f-string to insert them.

In [ ]:
a = "Joziah's Grocery"

print(a)

b = f'She said "I love {a}"'

print(b)

Joziah's Grocery
She said "I love Joziah's Grocery"

## Operators and Strings

Operators work a little differently with strings than with floats and ints.

In [ ]:
# Run this cell to see how Python evaluates operators with strings

a = 'Hello' + ' ' + 'World'
print(a)

Hello World

In [ ]:
# You can't multiply a string by a string, but you can multiply
# a string by an integer!

b = 'Hello' * 3

print(b)
print(type(b))

HelloHelloHello
<class 'str'>

In [ ]:
# Do any other operands work with strings?

# Bools

Bools are `True` or `False`

These will be very useful later when you learn loops and conditionals.

In [ ]:
print(bool(10))
print(bool(0))
print(bool('Hello'))
print(bool(10<20))

True
False
True
True

In [ ]:
# Run this cell to check the type of True

a = True

print(a)
print(type(a))

True
<class 'bool'>

## Comparison statements
Bools are often created as the result of a conditional statement using operators such as:

- Is greater than (>)
- Is greater than or equal to (>=)
- Is less than (<)
- Is less than or equal to (<=)
- Is equal to (==)

In [ ]:
# Run this cell to create a bool using the > operator

a = 5
b = 4

c = 5 > 4

print(c)
print(type(c))

True
<class 'bool'>

In [ ]:
# Run this cell to create a bool using the == operator

a = 5
b = 4

# Evaluate 'is 5 equal to 4' and assign it to 'c'
c = 5 == 4

print(c)
print(type(c))

False
<class 'bool'>

In [ ]:
# Run this cell to create a bool using the == operator

a = 'Hello'
b = ' '
c = 'World'

# d is the contatenation of a, b, and c
d = a + b + c

e = 'Hello World'

# f is the bool: d is equal to e
f = d == e

print(f)
print(type(f))

True
<class 'bool'>

In [ ]:
# In this cell test out ==, !=, <, >, >=, and <= to see how they work with bools

# <Your code here>

## Truthiness

In fact, many types can be converted into a bool with the function `bool()`!.

Most values will evaluate to `True` but a few will evaluate to `False`, such as `0`, `None`, an empty string: `""`, any empty container such as lists, tuples, sets, and dictionaries. (You'll learn about containers in another lesson.)

In [ ]:
# Run this cell to check the truthiness of 0 and 1

a = bool(0)
b = bool(1)
print(f"a is {a}")
print(f"b is {b}")

a is False
b is True

In [ ]:
# Run this cell to check the truthiness of an empty string

a = bool("")
b = bool("I am a string")
print(a)
print(b)

False
True

# None Type

There is a special type in Python that is the `None` type.  It only has one possible value, None.  It means nothing.  There is no thing there.  If a function does not return anything, but you try to set a variable to it, the variable will point to `None`.

In [ ]:
# Run this cell to print None

print(None)

None

In [ ]:
# the function print() returns None, which is to say nothing.

a = print('A String')

print(a)

A String
None

In [ ]:
# What is the truthiness of None?

a = bool(None)

print(a)

False

# Summary:

Everything in Python is an object.  Python has basic, built in, primitive objects.  These are ints, floats, strings and bools.  Each primitive type has it's own rules and properties.  Learning about these primitive datatypes will help you understand more complex classes, types, and functions as your progress in your Python learning journey.